*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eee;
}

.container{
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    border-radius: 1rem;
    height: 90vh;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
h1{
    margin-top: 20rem;
    display: inline-block;
    background: red;
    color: white;
}

#animateBtn{
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    outline: none;
    color: white;
    background: orangered;
    border: none;
    box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.rectangle{
    margin-top: 1rem;
    height: 4rem;
    width: 4rem;
    background-color: red;
}

.circle{
    background: red;
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 40%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle:first-child{
    margin-top: 8rem;
}